* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-color: #D8E2E8;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

/*Select Facility*/
#welcome {
  position: absolute;
  text-align: center;
  top: 18%;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.grid {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 15rem);
  grid-gap: 5px;
  grid-gap: 1rem;
}

.cell {
 justify-content: center;
 align-items: center;
 display: flex;
 font-family: Arial;
 font-size: 1.5rem;
 background-color: #333333;
 color: #fff;
 text-transform: uppercase;
 position: relative;
 border-radius: 5px;
}

.cell:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: 0.3s ease;
  cursor: pointer;
}

.cell p {
  display: flex;
  position: absolute;
}

.cell:hover .menu {
  transition-duration: 2.4s ease-in;
  display: block;
}

.cell:hover p {
  display: none;
}

.menu {
  display: none;
  width: 100%;
  height: 100%;
}

.menu a {
  background-color: #e6e6e6;
  opacity: 1;
  color: black;
  display: block;
  padding: 1.2em;
  text-decoration: none;
  text-align: center;
  font-size: 0.7em;
}

.menu a:hover {
  background-color:#404040;
  color: #fff;
}

#room a{
  padding: 0.6em;
}

#indoor-halls a {
  padding: 0.3em;
}

#climbing-walls a {
  padding: 2.4em;
}


/*Top Navigation Bar*/
nav #logo img {
    width: auto;
    height: 45px;
    padding-top: 4px;
} 

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: #D8E2E8;
  }
  
.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  height: 3px;
  width: 25px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease-in;
}

.hamburger div:nth-child(2) {
  width: 20px;
  margin-left: auto;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.75rem;
}

.nav-links li:not(:last-child) {
  margin-right: 2rem;
}

.nav-link:hover {
  color: #737373;
  transition: 0.2s ease-in-out;
}

/*Responsive Layout*/
@media only screen and (max-width: 768px) {

/*Navigation Bar*/
nav {
  padding: 1.5rem 1rem;
}
.hamburger {
  display: block;
}
.hamburger.toggle .line-1 {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.hamburger.toggle .line-2 {
  transform: translateX(20px);
  opacity: 0;
}

.hamburger.toggle .line-3 {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

.nav-link {
    color: #fff;
}

.nav-links {
  position: absolute;
  height: calc(100vh - 6rem);
  top: 6rem;
  right: 0;
  width: 100%;
  transform: translateX(100%);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease-in;
  background-color: #404040;
  z-index: 2;
}

.nav-links li:not(:last-child) {
  margin-right: 0;
}
.nav-links.active {
  transform: translateX(0);
}
}